$vermelho: #D6000D;
$font_large: 2.875em;

body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    box-sizing: border-box;
}

.header h1{
    color: $vermelho;
    text-align: center;
    font-size: $font_large;
    font-style: italic;
    font-weight: bolder;
}

.header span{
    color: black;
}

.header .btn__login{
    display: none;
}

.header__nav__ul li{
    list-style: none;
    display: inline;
    padding: 15px;
}

.container{
    width: 90%;
    margin: 0 auto;
}


@media screen and (min-width: 23.125em ){
    
    .header__nav__ul{
        text-align: center;
        padding: 0;
    }
    
    .header__nav__ul li a{
        text-decoration: none;
        color: black;
        padding: 5px;
        font-size: 20px;
        font-weight: lighter;
    }
    
    .container::before{
        content: "";
        display: block;
        background-image: url("../assets/video_call.png");
        background-size: 80%;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 300px;
    }

.container__budget{
    text-align: center;
}

.container__budget span{
    color: $vermelho;
    display: block;
    font-size: $font_large;
    font-weight: bolder;
}


    
}