$vermelho: #D6000D;
$fundo: #d3d3d3;
$font_large: 2.8125em;
.fix::after, .fix::before{
    content: "";
    display: block;
    clear: both;
}

body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    box-sizing: border-box;
    
}

.header h1{
    color: $vermelho;
    text-align: center;
    font-size: $font_large;
    font-style: italic;
    font-weight: bolder;
}

.header span{
    color: black;
}

.header .btn__login{
    display: none;
}

.header__nav__ul li{
    list-style: none;
    display: inline;
    padding: 15px;
}

.container{
    width: 90%;
    margin: 0 auto;
}


@media screen and (min-width: 23.125em ){
    
    .header__nav__ul{
        text-align: center;
        padding: 0;
        
        & li a{
            text-decoration: none;
            color: black;
            padding: 5px;
            font-size: 20px;
            font-weight: lighter;
        }
    }
    
    
    .container::before{
        content: "";
        display: block;
        background-image: url("../assets/video_call.png");
        background-size: 80%;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 300px;
    }
    
    .container__budget{
        text-align: center;
        
        & span{
            color: $vermelho;
            display: block;
            font-size: $font_large;
            font-weight: bolder;
        }
        
        & button{
            color: white;
            border: none;
            background-color:$vermelho;
            padding: 15px 60px;
            font-size: 18px;
            border-radius: 15px;
            margin-top: 10px;
        }
        
    }
    
    .budget::before{
        content: "";
        width: 100%;
        height: 300px;
        display: block;
        background-image: url("../assets/coding_.png");
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 150px;
    }
    
    @mixin check{
        content: "";
        display: block;
        
        position: absolute;
    }
    
    .budget{
        margin-bottom: 120px;
        & ul{
            position: relative;
        }
        
        
        & li{
            list-style: none;
            padding: 25px 0 25px 55px;
            font-size: 22px;
        }
        
    }
    
    .budget__item::before{
        @include check;
        width: 35px;
        height: 30px;
        background-color: $vermelho;
        border-radius: 50%;
        position: absolute;
        margin-top: 22px;
    }
    
    .budget__item::after{
        @include check;
        border: 4px solid white;
        border-top: transparent;
        border-right: transparent;
        transform: rotate(-50deg);
        width: 15px;
        height: 10px;
        margin-left: 8px;
        margin-top: -48px;
        z-index: 1;
        position: absolute;
        
        
    }
    
    .form-send{
        font-size: 20px;
        text-align: center;
        font-weight: bolder;
        
        & input{
            display: block;
            width: 80%;
            margin: 20px auto;
            padding: 20px;
            box-sizing: border-box;
            border-radius: 18px;
            border: none;
        }
        
        &--txt{
            background-color:$fundo;
        }
        
        &--btn{
            background-color: $vermelho;
            color: white;
        }
    }
    
    .depositions__item{
        background-color: $fundo;
        border-radius: 20px;
        padding: 20px;
        margin-top: 40px;
        box-sizing: border-box;
        height: auto;

        & p{
            font-size: 15px;
        }

        &::before{
            content: "";
            display: block;
            background-color: $vermelho;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            float: left;
        }

        & div{
            width: 70%;
            float: right;
        }
    }
    
        
    
    
}